<h1><%= @profile.username%>'s profile</h1>
<h3>tags: <%= @profile.tag_list %></h3>
<hr>

<% if not @profile.id == current_user.id %>
<% @isuserfollowing= Follow.where(:follower_id=>current_user.id, :following_id=>@profile.id).count %>
<% if @isuserfollowing == 0 %>


<%= form_tag(url_for(controller: 'home', action: 'follow', :follower_id=>current_user.id, :following_id=>@profile.id), method: :post, remote: true) do |f| %>

<%= button_tag("Follow", type: 'submit', :class=>"btn btn-success") %>

<%end%>

<%else%>

<%= form_tag(url_for(controller: 'home', action: 'unfollow', :follower_id=>current_user.id, :following_id=>@profile.id), method: :post, remote: true) do |f| %>

<%= button_tag("Unfollow", type: 'submit', :class=>"btn btn-danger") %>

<%end%>

<%end%>
<%end%>

<hr>


<% if @profile.id == current_user.id %>
<%= render 'home/statusbox' %>
<%end%>

<ul id="updates">
  <% @profile.statuses.order("id desc").each do |status| %>
  <li><%= status.text %></li>
  <%end%>
</ul>